* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

dt {
  font-family: Cinzel 20px;
}

h1 {
  color: gold;
  font-size: 60px;
  font-family: Cinzel;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: top;
  text-shadow: 5px 5px black;
}

h2 {
  color: gold;
  font-family: Cinzel;
  letter-spacing: 2px;
  max-width: 600px;
  text-align: center;
}

h3 {
  font-family: Cinzel;
  font-size: 22px;
}

p {
  background-color: black
  color: black;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 5px;
  text-align: center;
}

#banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center center;
  border: 5px ridge #C6A83B;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

/* adjusts the margin of the banner to be the correct size despite the padding */
#banner h1 {
  margin: 0;
}

#pbody {
  text-align: left;
  line-height: 115%;

}

#genericbox {
  background-color: #AD8854;
  width: auto;
  height: auto;
  border: 7px ridge #C6A83B;
  padding: 9px;
  margin: 15px;
}

/* this should be the parchment background for main body stuff */
#bodybox {
  background-image: url("../images/pagebg.png");
  background-size: cover;
  background-position: center center;
  border: 7px ridge #C6A83B;
  padding: 12px;
  margin: 15px;
}

/* for body headings */
#textboxblk {
  background-color: black;
  border: 10px ridge #C6A83B;
  width: auto;
  height: auto;
  padding: 12px;
  margin: 10px;
  text-align: center;

}

/* this is how we align the text, simply target this with a div */
.center-content {
  display: grid;
  grid-template-columns: [links] 26% [intro] 74% [end];
  margin-left: auto;
  margin-right: auto; /* spacing between the box and the border of the window */
  max-width: 900px;
  padding-top: 20px;
  width:90%; /* we want this element to take up exactly this much space */
}

.char-link {
  text-align: left;
  font-family: 'Source Sans 3', sans-serif;
}

.expanded {
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom: 20px;
 width: 50%;
}

.thumb {
  border: 7px ridge #C6A83B;
  display: block;
  float: left;
  height: auto;
  margin-right: 20px;
  width: 240px;
}

.thumb img {
  display: block;
  width: 100%;
}
